<div class="center hero-unit">
        <h3>Here is your current Semester!!</h3>

        <div align="right" class="btn-group">
			<button class="btn btn-large btn-primary">Pre Registration </button>
		</div>
        <table class="center table">
			<tr class="info"><td>Course :</td><td>Title</td><td>Units</td><td>Section</td><td>R/S</td><td>R/S Course </td></tr>
       
			<!-- loop over courses <%  %> -->      
   			<tr><td>cs455</td><td>Introduction to software engineering</td><td>4</td><td>-</td><td>-</td><td>-</td></tr>
      		<!-- <% %> -->
        </table>
        </p>
        
</div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

