<div class="center hero-unit">
        <h3>Current-Semester</h3>
        <h5>Here is your current Semester!</h5>

        <p>
        <div align="right" class="btn-group">
                <button class="btn btn-large btn-warning"><%= link_to "Pre Registration", student_pre_registration_path %></button>
        </div>
        <table class="center table">
                <tr class="info"><td>Course</td><td>Title</td><td>Units</td><td>Section</td><td>R/S</td><td>R/S Course </td></tr>
                
                <tr><td>cs455</td><td>Introduction to software engineering</td><td>4</td><td>-</td><td>-</td><td>-</td></tr>
        </table>
        </p>
        
</div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

