<div class="center hero-unit">
        <h3>Always keep your Personal Information Updated! :)</h3>
<div class="center btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action 
                <span class="caret"></span></button>
                <ul class="center dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

        <p>
        <table align="center">
                <tr><td width="200">Roll Number :</td><td width="300">First</td></tr>
                <tr><td>Programme :</td><td>Jane</td></tr>
                <tr><td>Department :</td><td>Joe</td></tr>
                <tr><td>Campus Address :</td><td>Joe</td></tr>
                <tr><td>Guardian/Parent :</td><td>Joe</td></tr>
                <tr><td>Permanent Address :</td><td>Joe</td></tr>
                <tr><td>Telephone :</td><td>Joe</td></tr>
        </table>
        </p>
        
</div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

