<div class="center hero-unit">
        
        <div class="center btn-group">
                <button class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown">Academic Information
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                        <li><%= link_to "Transcript", student_transcript_path   %></li>
                        <li><%= link_to "Backlog List", student_backlog_list_path   %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Student Information", student_personal_info_path   %></li>
                </ul>
        </div>
        
        <h4>Your Transcript</h4>
        <!-- set the column width as per convinence -->
        <p>
            <table class="center table">
            <col width="60"><col width="80"><col width="5"><col width="5">
			<tr class="info"><td>Course</td><td>  Title </td><td>Units</td><td>Grade</td></tr>
			</table>
			<!-- loops over number of Semester <% %> -->
			2012-13 Semester I </br> <p align="right"> CPI = 10 SPI = 10 </p>
       		<table class="center table">
       		<col width="20"><col width="60"><col width="5"><col width="5">
						<!-- loop over courses <%  %> -->      
   			<tr><td>cs455</td><td>Introduction to software engineering</td><td>4</td><td>A*</td></tr>
      		<!--end loop <% %> -->
      		<!--end loop <% %> -->
        </table>
        </p>
</div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

