<h1>Course Requests</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Course Number</th>
      <th>Course Name</th>
      <th>Request Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% @course_requests.each do |course| %>
  <tr>
      <th><%= link_to course.offered_course.course.number, course , :remote => true %></th>
      <th><%= link_to course.offered_course.course.name, course , :remote => true %></th>
      <% if course.status == "add" %>
      <th><span class="label label-warning"> Pending </span></th>
      <th> <%= button_to "Delete Request", {:action => "delete",
        :controller => "offered_courses", :id =>
        course.id, :remote => true} , {:class => "btn btn-danger"} %> 
      </th>
      <% elsif course.status == "accepted" %>
      <th><span class="label label-success"> Accepted </span></th>
      <th> Add to Form </th>
      <% elsif course.status == "rejected" %>
      <th><span class="label label-important"> Rejected </span></th>
      <th>:(</th>
      <% end %>
    <tr>
  <% end %>
  </tbody>
</table>
