<div class="center hero-unit">
        <h3>Account</h3>

<% if current_faculty==current_faculty.department.dugc.faculty %>
You are dugc <br>
<%= link_to "Approve Student Forms", registration_forms_path, class: "btn btn-large btn-success"%><br>To modify/introduce constraints<br>
<%= link_to "Course Constraints", view_templates_path, class: "btn btn-large btn-primary"%> 
<% else %>
 you are only a faculty
 <%end%>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>        
