<div class="center hero-unit">
        <h3>Student requested for Courses cs455 </h3>

        <table class="center table">
			<tr class="info"><td>Student Name</td><td>Roll Number</td><td>Info</td><td>Status</td></tr>
       
			 <% @student_list.each do |student| %>      
   			<tr><td><%=student.name%></td><td><%=student.roll%></td><td>Backchod hai</td><td><%=link_to "Auto-accepted",'#' ,class: "btn btn-mini btn-primary" %></td></tr>
      		 <%end %>
        </table>
        </p>
        
</div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

