<div class="center hero-unit">
        <h3>Student registered for Courses cs455 </h3>

        <table class="center table">
			<tr class="info"><td>Student Name</td><td>Roll Number</td><td>Info</td></tr>
       
			<!-- loop over no of students <%  %> -->      
   			<tr><td>Satvik Chuhan</td><td>Y9sex</td><td>Backchod hai</td></tr>
      		<!-- <% %> -->
        </table>
        </p>
        
</div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

