<div class="center hero-unit">
        <%if !@courses_taken.empty?%>
        <h3>Current Semester Info</h3>

        <h5>
                Courses this semester
        </h5>
        <p>
        <table class="center table">
                <tr class="info"><td>Course</td><td>Title</td><td>Credit</td><td>Info</td></tr>
                <% @courses_taken.each do |course| %>      
                        <tr><td><%= course.course.number %></td><td><%=course.course.name%></td><td><%=course.credit%></td><td><%=link_to "Info",{ :action => "course_info", :id => course.id}, {:class => "btn btn-mini btn-primary"}%></td></tr>
                <% end %>
        </table>
        </p> 
        <%else%>
        <p>Hurray!! you don't have any course this semester<br></p>
        <%end%>
               
</div>
