<div class="center hero-unit">
  <h3>Contact Us</h3>

  <h4>
        Bakait Admin Team
  </h4>

  <table class="center table">
  
        <tr class="info"><td>Name</td><td>Cell Number</td><td>email-id(@iitk.ac.in)</td></tr>

        <tr><td>Gaurav Sharma</td><td>+91-9616458365</td><td>gauravsa</td></tr>
        <tr><td>Pankaj More</td><td>+91-8765696144</td><td>pankajm</td></tr>
        <tr><td>Rahul Ajmera</td><td>+91-9795618316</td><td>rahulaaj</td></tr>
        <tr><td>Satvik Chauhan</td><td>+91-9532835045</td><td>satvikc</td></tr>
        <tr><td>Vineet Hingorani</td><td>+91-9559323399</td><td>viner</td></tr>
  </table>
</div>
        

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

