<div class="center hero-unit">
  <h3>Welcome to the<br />ONLINE ACADEMIC REGISTRATION SYSTEM</h3>

  <h4>
      <%= link_to "You are a Student!", student_sign_in_path, class: "btn btn-large btn-primary" %>
      <%= link_to "You are an Instructor!", faculty_sign_in_path, class: "btn btn-large btn-primary" %>
  </h4>

  <h5>
    Please select the respective links.
  </h5>
</div>
	

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

