<div class="center hero-unit">
  <h3>Welcome to the<br />ONLINE ACADEMIC REGISTRATION SYSTEM</h3>

  <h4>
    <%= link_to "You are a Student!", welc_student_path, class: "btn btn-large btn-primary" %> <%= link_to "You are an Instructor!", welc_instructor_path, class: "btn btn-large btn-primary" %>
  </h4>

  <h5>
    Please select the respective links.
  </h5>
</div>
	

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

